body {background-color: #53FF97;}
header {background-color: white; height: 25vh; display: flex; justify-content: space-around; align-items: center; flex-wrap: wrap;}
nav {display: flex; justify-content: space-between; background-color: purple;}
main {display: flex; justify-content: center;}
section {background-color: white; width: 70%; height: 50%;}
aside {background-color: purple; width: 30%; height: 20%;}
footer {display: flex; justify-content: space-around; align-items: center; height: 25vh; background-color: yellow; flex-wrap: wrap;}
.logo {width: 33%; display: flex; justify-content: center;}
.titulo {color: purple; font-size: xx-large; text-align: center; text-decoration: underline; font-family: Georgia;}
.copete {color: white; font-family: Georgia; text-align: center; width: 30%;}
.recetas {background-color: white; width: 70%; display: flex; align-items: center; justify-content: space-around;}
.subtitulo {color: purple; font-size: large; text-decoration: underline; font-family: Georgia; left: 35px;}
.texto {color: black; background-color: white; font-size: small; text-align:justify; font-family: Georgia;}
.cuadro_de_texto {display: flex; justify-content: center; width: 75%; align-items: center;}
.foto {width: 100%;}
.video {width: 50%;}
.mapa_mardel {width: 100%;}
.linkreceta {background-color: white; font-family: Georgia; font-size: medium; color: black;}
.mapa_monte_castro {background-color: purple; display: flex;}
.redes_sociales {display: flex; justify-content: center; align-items: center;}
.desarollado {display: flex;justify-content: center;}
.info {display: flex; align-items: center; font-family: Georgia; text-align: center;}
